@import "init";

@import "layout/layout";

@import "components/components";

body {
  background-color: var(--body-bg);
  color: var(--text-color);
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: convert($base-font-size);
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
}

// ICONS
// AVATAR
// Border
// Abstract BG's

.w-35px {
  width: 35px;
}

.h-100 {
  height: 100%;
  width: 100%;
}
.h-35px {
  height: 35px;
}

.border-sm {
  border: $border-sm;
}

.hero {
  &_container {
    @include breakpoint(">sm") {
      padding-right: 0;
    }
  }

  & + * {
     margin-left: calc(var(--section-spacing) * -1);
  }

  &_slideOne {
    padding-block: var(--section-spacing);
    padding-right: var(--section-spacing);
  }

  &_slideTwo {
    align-self: stretch;
    background-image: var(--bg-image);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    img {
      display: none;
    }
  }

  @include breakpoint("<sm") {
    flex-direction: column-reverse;
    padding-block: var(--section-spacing);

    &_slideTwo {
      background-image: none;

      img {
        display: inline-block;
        @include breakpoint("<sm") {
           border-radius: $curvy-lg;
        }
      }
    }

    &_slideOne {
      padding-right: 0;
    }

    &_btn-group {
      flex-direction: column;
    }
  }
}

.h-100 {
  height: 100%;
}
