
.d-flex {
  display: flex;
}

.flex {
  &-center {
    align-items: center;
    justify-content: center;
  }

  &-equal > * {
    flex: 1;
    min-width: 50%;
  }
  &-column {
    flex-direction: column;
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &-wrap-rev {
    flex-wrap: wrap-reverse;
  }
  &-fill > * {
    flex: 1;
  }
}

$flexRuleMap: (
  align: (
    properties: (
      align-items: (
        center,
        start,
        end,
      ),
    ),
  ),
  justify: (
    properties: (
      justify-content: (
        start,
        end,
        center,
        space-between,
        space-evenly,
        space-around,
      ),
    ),
  ),
);
@include generateCSSRules($flexRuleMap, $fluid: true);




