@use "sass:string";
// only controls the padding on elements, margin is controlled by niggas in the layout/modules folder
$deviceBreakpoints: (lg: ">md", md: ">sm",sm: "<sm");


$sectionRuleMap: (
  section--fw: (
    properties: (
      margin-inline: "calc(var(--section-spacing) * -1)"
    ),
    responsive: true,
    precedingSelector: ".section "
  ),
  section--reset: (
    properties: (
      padding: 0
    ),
    responsive: true,
  ),
);

@include generateCSSRules($sectionRuleMap);

.section {
  padding-inline: var(--section-spacing);
  @include breakpoint("<sm") {
    --section-spacing: var(--#{$prefix}-spacing-600);
  }
  
  &_footer {
    width: 100%;
    border-top: $border-sm;
    padding-block: var(--#{$prefix}-spacing-500);
  }
}

.paginate {
  position: relative;
  width: 100%;

  @include breakpoint(">sm") {
  justify-content: end;
  &_counter {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}